html {
    font-family: "Helvetica", sans-serif;
}

a {
    color: #f00;
}

.logo {
    text-align: right;
    float: right;
    width: 150px;
    font-family: "Hasklig", "Lucida Console", monospace;
}

.logo img {
    width: 150px;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    font-family: "Hasklig", "Lucida Console", monospace;
    line-height: 1.4em;
}

.title {
    font-size: 1.5em;
}

.content {
    margin: 3em auto auto auto;
    width: 80%;
}

h1 {
    margin-bottom: 1.5em;
}

h3 {
    margin: 0em;
}

.anchor {
    color: #000;
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.binder {
    margin: 0em 0em 3.5em 0em;
}

.sig {
    font-family: "Hasklig", "Lucida Console", monospace;
}

.doc {
    /* font-style: italic; */
}

.description {
    margin-top: 0.3em;
    font-size: 0.8em;
    color: #aaa;
}

.huge {
    font-size: 15em;
    margin: 0em;
}
