*.dSYM
a.out
.DS_Store

/gl-constants/gl_constants.o

/out/*.c
/out/*.so
/out/*.h
/out/*.dll
/out/*.exp
/out/*.lib
/out/*.pdb
/out/*.ilk
/out/*.obj
/out/exe

/src/*.o

/bin/carp-repl
/bin/Release/
/bin/Debug/

/build/
/examples/exe
/src/TAGS

sourcetree.license
