name: MacOS CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Check out
        uses: actions/checkout@v2

      - uses: actions/setup-haskell@v1.1

      - run:   echo ::set-env name=GITHUB_SHA::$GITHUB_SHA
        shell: bash

      - name: Build
        run: stack build

      - name: Run Compiler Tests
        run: stack test

      - name: Run Carp Tests
        run: ./run_carp_tests.sh --no_sdl
